.about {
    background: url('../img/aboutBg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 20px;

    .row {
        background-color: transparent;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 50px;
        // padding: 0 20px;
    }

    .title {
        color: white;
        padding: 0;
        margin-bottom: 30px;
    }

    .subtitle {
        color: #949494;
        font-size: 20px;
    }

    .persons-container {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;

        @media(min-width:768px) {
            flex-direction: row;
        }

        .person {

            text-align: center;
            padding: 30px 20px;

            .description {
                width: 60%;
                margin: 0 auto;

                @media(min-width:768px) {
                    width: 100%;
                }

            }

            .primary {
                color: $white;
                font-size: 34px;
                margin: 10px 0;
            }

            .text {
                font-size: 24px;
                margin-bottom: 10px;
                color: #949494;

            }

        }
    }
}