.offer {
    padding: 50px 0;
    ;
    padding-bottom: 0;



    .icon-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        border: 1px solid transparent;


        &:hover {
            border: 1px solid $black;
            transform: scale(1.01);
            box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);

        }

        .img {
            // width: 40%;

            img {
                width: 100%;
            }
        }

        .text {
            padding: 20px;
            width: 60%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            .primary {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 10px;
            }
        }
    }

    .carousel {
        position: relative;
        height: auto;
        width: 100%;
        margin: 0 auto;
        margin-top: 100px;
        overflow: hidden;



        .slider-btn {
            position: absolute;
            top: 50%;
            z-index: 100;
            background-color: rgba(0, 0, 0, 0.3);
            border: none;
            color: $white;
            font-size: 24px;
            opacity: 0.9;
            padding: 10px 30px;
            border-radius: 30px;
            z-index: 20;

            &:hover {
                background-color: rgba(0, 0, 0, 0.7);
                ;
            }
        }

        .next {
            right: 10px;
        }

        .prev {
            left: 10px;
        }

        .img-slide {
            position: relative;
            height: auto;
            width: 100%;
            display: flex;
            transition: 1s;

            img {
                width: 100%;
                position: relative;
                transition: .3s;

                &:hover {
                    transform: scale(1.02);
                    z-index: 10;
                }

            }
        }
    }
}